<!DOCTYPE html>
<html>
  <head>
    <title>500 Internal Server Error</title>
  </head>
  <style>
    img {
      display: block;
      margin: 0 auto;
    }
  </style>
  <body>
    <h1>The Force Is Not Strong With Our Servers</h1>
    <p>
      Our servers have encountered a 500 Internal Server Error, caused by the
      dark side of the Force. The Sith have unleashed their fury upon us,
      disrupting the balance and causing a disturbance. Our Jedi engineers are
      working tirelessly to restore balance and purge the Empire's influence
      from our servers. We apologize for any inconvenience caused and appreciate
      your patience during this time. May the Force be with you.
    </p>
    <img src="{{ url_for('static', filename='error2.png') }}" alt="500 Error" />
  </body>
</html>
